<div class="row" id="chat-row">
	<%if(messages.length>0){%>
	<div class="chat">
		<%messages.forEach(function(message){%>
		<%if(message.username == username) message.class = "you"; else message.class = "me";%>
		<div class="bubble <%=message.class%>" id="<%=message.id%>">
			<msg><%=message.text%></msg>
			<%/*if(message.readed == "1"){%><i class="material-icons tiny" onclick="alert('Leido el: <%=message.read%>')">check</i><%}*/%>
			<br>
			<small><%=message.sent%></small>
		</div>
		<%});%>
	</div>
	<%}else{%>
	<p id="nochats" class="center grey-text text-lighten-1">Usted no tiene ningun mensaje con este usuario.</p>
	<%}%>

	<div class="valign-wrapper container" id="messageField">
		<div class="col s10 m11" style="margin-bottom: 0;">
			<textarea id="message" placeholder="Escribe un mensaje" class="materialize-textarea" oninput="messageLengthValidate(500)"></textarea>
			<!--span class="helper-text">Restante: 500</span-->
		</div>
		<div class="col s2 m1 center-align"><i class="material-icons grey-text text-darken-2" onclick="sendMessage('PIROPAZO')">send</i></div>
	</div>
</div>

<div class="modal bottom-sheet" id="optionsModal">
	<ul class="collection" style="margin: 0;"> 
		<li class="collection-item" onclick="deleteModalOpen()"><div>Borrar mensaje<a class="secondary-content"><i class="material-icons piropazo-color-text">delete</i></a></div></li>
	</ul>
</div>

<div id="deleteModal" class="modal">
	<div class="modal-content">
		<p>¿Esta seguro de eliminar el mensaje seleccionado?</p>
	</div>	
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="deleteMessage()" class="modal-close waves-effect waves-red btn-flat red-text">Eliminar</a>
	</div>
</div>