<div class="row notes">
    <div class="col s12">
        <% if(notes.length == 0){ %>
            <p class="middle-center center grey-text">No hay notas disponibles en esta sección.</p>
        <% } %>

        <% notes.forEach(function(note){ %>
            <div class="card note" id="<%= note.id %>" liked="<%= note.liked %>"
                 unliked="<%= note.unliked %>">
                <div class="card-person grey lighten-5">
                    <% if (!note.staff) {%>
                        <div class="person-avatar circle left"
                             face="<%= note.avatar %>" color="<%= note.avatarColor %>"
                             size="30" online="<%= note.online %>">
                        </div>
                    <% } %>
                    <% if (!note.staff) { %>
                        <a href="#!" class="<%= note.gender %>"
                           onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'@<%= note.username %>'}})">
                            @<%= note.username %>
                        </a>
                    <% } %>
                    <span class="right">
                            <i class="material-icons tiny">calendar_today</i>
                            <%= moment(note.inserted).format('MMM D, h:mm A') %>
                        </span>
                </div>
                <div class="content">
                    <% if(note.image){ %>
                        <img class="responsive-img" style="width: 100%" src="{{APP_SERVICE_PATH}}/images/img-prev.png"
                             onclick="apretaste.send({'command': 'PIZARRA NOTA','data':{'note':'<%= note.id %>'}});">
                    <% } %>
                    <p style="padding: 0 0.75rem"><%- note.text %></p>
                </div>
                <div class="card-action">
                    <% if (!note.staff) {%>
                    <a class="like"
                    <% if(!note.liked){ %> onclick="like('<%= note.id %>','like');"
                            <% } %>
                    >
                        <i class="material-icons small">thumb_up</i>
                        <span><%= note.likes %></span>
                    </a>

                    <a class="unlike"
                    <% if(!note.unliked){ %> onclick="like('<%= note.id %>','unlike')"
                            <% } %>
                    >
                        <i class="material-icons small">thumb_down</i>
                        <span><%= note.unlikes %></span>
                    </a>
                    <% } %>
                    <a onclick="apretaste.send({'command': 'PIZARRA NOTA','data':{'note':'<%= note.id %>'}});">
                        <i class="material-icons small">comment</i>
                        <span><%= note.comments %></span>
                    </a>
                </div>
            </div>

            <div class="hide">
                <div class="card-action">
                    <% if(note.canmodify){ %>
                        <a class="modal-trigger" href="#deleteConfirmModal"
                           onclick="activeNote = '<%= note.id %>';">
                            <i class="material-icons tiny">cancel</i>
                        </a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div id="writeModal" class="container" status="closed" style="display: none;">
    <div class="row">
        <i class="material-icons small pizarra-color-text" onclick="toggleWriteModal()">close</i>
        <div class="col s12">
            <textarea id="note" class="materialize-textarea" maxlength="600" placeholder="¿En qué piensas?"></textarea>
        </div>

        <div class="actions">
            <input type="file" id="picture" accept="image/*" class="hide">
            <i class="material-icons small pizarra-color-text left" id="uploadPhoto">photo</i>
            <i class="material-icons small pizarra-color-text right" onclick="sendNote()">send</i>
        </div>
    </div>
</div>

<% if(title != 'Global'){ %>
    <div class="fixed-action-btn">
        <a onclick="toggleWriteModal()" class="btn-floating btn-large pizarra-color">
            <i class="large material-icons">add</i>
        </a>
    </div>
<% } %>

