<div class="row notes">
    <div class="col s12">
        <p style="margin: 0;">
            Temas populares:
            <% popularTopics.forEach(function(topic){ %>
                <a onclick="apretaste.send({'command':'PIZARRA','data':{'search':'<%= topic %>'}});">
                    #<%= topic %>
                </a>&nbsp;
            <% }); %>
        </p>

        <ul class="collection">
            <% notes.forEach(function(note){ %>
                <% if (note.gender == "M") color = "pizarra-color-text"; else if (note.gender == "F") color = "pink-text"; else color = "black-text" %>

                <li class="collection-item avatar row <%= note.staff ? "staff": "" %>" id="<%= note.id %>" liked="<%= note.liked %>"
                    unliked="<%= note.unliked %>" >
                    <div class="person-avatar circle" face="<%= note.avatar %>" color="<%= note.avatarColor %>"
                         size="42"
                         onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'@<%= note.username %>'}});"></div>
                    <% if(note.online == "1"){ %>
                        <i class="material-icons online-icon">brightness_1</i>
                    <% } %>
                    <span class="title">
						<a class="<%= color %>"
                           onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'@<%= note.username %>'}});">
							<b>@<%= note.username %></b>
						</a>
						<small class="grey-text text-darken-3">&nbsp;<%= note.location %> · <%= note.inserted %></small>
					</span>

                    <% if(note.canmodify){ %>
                        <a class="modal-trigger delete-button" href="#deleteConfirmModal"
                           onclick="activeNote = '<%= note.id %>';">
                            <i class="material-icons grey-text text-darken-3">close</i>
                        </a>
                    <% } %>

                    <p>
                        <%- note.text %>
                    </p>
                    <% if(note.image){ %>
                        <img class="responsive-img" src="{{APP_SERVICE_PATH}}/images/img-prev.png"
                             onclick="apretaste.send({'command': 'PIZARRA NOTA','data':{'note':'<%= note.id %>'}});">
                    <% } %>
                    <p>
                        <% note.topics.forEach(function(topic){ %>
                            <a onclick="apretaste.send({'command': 'PIZARRA','data':{'search':'#<%= topic %>'}})">
                                <b>#<%= topic %></b>
                            </a>&nbsp;
                        <% }); %>
                    </p>
                    <div class="col s10 actions">
                        <div class="col s4">
                            <a class="like"
                            <% if(!note.liked){ %> onclick="like('<%= note.id %>','like');"
                                    <% } %>
                            >
                                <i class="material-icons">thumb_up</i>
                                <span><%= note.likes %></span>
                            </a>
                        </div>
                        <div class="col s4">
                            <a class="unlike"
                            <% if(!note.unliked){ %> onclick="like('<%= note.id %>','unlike')"
                                    <% } %>
                            >
                                <i class="material-icons">thumb_down</i>
                                <span><%= note.unlikes %></span>
                            </a>
                        </div>
                        <div class="col s4">
                            <a onclick="apretaste.send({'command': 'PIZARRA NOTA','data':{'note':'<%= note.id %>'}});">
                                <i class="material-icons">comment</i>
                                <span><%= note.comments %></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div class="hide">
                    <div class="card-action">
                        <% if(note.canmodify){ %>
                            <% if(note.topics.length < 3){ %>
                                <a class="modal-trigger themifyButton" href="#themifyModal"
                                   onclick="activeNote = '<%= note.id %>';">
                                    <span><b>#</b></span>
                                </a>
                            <% } %>
                            <a class="modal-trigger" href="#deleteConfirmModal"
                               onclick="activeNote = '<%= note.id %>';">
                                <i class="material-icons tiny">cancel</i>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </ul>
    </div>
</div>

<div id="writeModal" class="container" status="closed" style="display: none;">
    <div class="row">
        <i class="material-icons small pizarra-color-text" onclick="toggleWriteModal()">close</i>
        <div class="col s12">
            <textarea id="note" class="materialize-textarea" maxlength="300" placeholder="¿En qué piensas?"></textarea>
        </div>

        <div class="actions">
            <input type="file" id="picture" accept="image/*" class="hide">
            <i class="material-icons small pizarra-color-text left" id="uploadPhoto">photo</i>
            <i class="material-icons small pizarra-color-text right" onclick="sendNote()">send</i>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a onclick="toggleWriteModal()" class="btn-floating btn-large pizarra-color">
        <i class="large material-icons">create</i>
    </a>
</div>