<div class="col s12">
    <ul class="collection profile">
        <li class="collection-item avatar <%= note.staff ? "staff": "" %>">
            <% if (!note.staff) {%>
                <div class="person-avatar circle" face="<%= note.avatar %>" color="<%= note.avatarColor %>" size="45"
                     online="<%= note.online %>"></div>
                <span class="title <%= note.gender %>"><%= note.username %></span>
                <p>⚡<%= note.reputation %></p>
                <a class="secondary-content green-text first"
                   onclick="apretaste.back()"><i class="material-icons">arrow_back</i></a>
                <a class="secondary-content green-text second"
                   onclick="apretaste.send({command: 'chat', data: {username: '<%= note.username %>'}})">
                    <i class="material-icons">chat</i></a>
            <% } %>
        </li>
    </ul>

    <div class="card open-note" id="<%= note.id %>" liked="<%= note.liked %>"
         unliked="<%= note.unliked %>" style="box-shadow: none">
        <div class="content">
            <% if(note.image){ %>
                <img class="responsive-img materialboxed" style="margin: auto"
                     src="{{APP_IMAGE_PATH}}/<%= note.image %>">
            <% } %>
            <p><%- note.text %></p>
        </div>
        <% if (!note.staff) {%>
            <div class="card-action">
                <a class="like"
                <% if(!note.liked){ %> onclick="like('<%= note.id %>','like');"
                        <% } %>
                >
                    <i class="material-icons">thumb_up</i>
                    <span><%= note.likes %></span>
                </a>

                <a class="unlike"
                <% if(!note.unliked){ %> onclick="like('<%= note.id %>','unlike')"
                        <% } %>
                >
                    <i class="material-icons">thumb_down</i>
                    <span><%= note.unlikes %></span>
                </a>

                <a>
                    <i class="material-icons">comment</i>
                    <span><%= note.comments.length %></span>
                </a>

                <a onclick="openReportModal()">
                    <i class="material-icons">warning</i>
                </a>

                <a>
                    <i class="material-icons">calendar_today</i>
                    <span> <%= moment(note.inserted).format('MMM D, h:mm A') %></span>
                </a>
            </div>
        <% } %>
    </div>


    <ul class="chat" id="comments">
        <% note.comments.forEach(function(comment) { %>
            <% var position = comment.username == myUser.username ? 'right' : 'left' %>
            <li class="<%= position %>" id="<%= comment.id %>">
                <div class="person-avatar circle" face="<%= comment.avatar %>" color="<%= comment.avatarColor %>"
                     size="30"
                     onclick="apretaste.send({'command': 'PERFIL', 'data': {'username':'@<%= comment.username %>'}})"></div>
                <div class="head">
                    <a onclick="apretaste.send({'command': 'PERFIL', 'data': {'username':'@<%= comment.username %>'}})"
                       class="<%= comment.gender %>">@<%= comment.username %></a>
                    <span class="date"><%= moment(comment.inserted).format('MMM D, YYYY h:mm A') %></span>
                </div>
                <span class="text"><%- comment.text %></span>
            </li>
        <% }) %>
    </ul>
</div>

<% if (note.accept_comments || note.id_person == person_id || note.canmodify) { %>
    <div class="fixed-action-btn">
        <a href="#newCommentModal" class="btn-floating btn-large modal-trigger green">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div id="newCommentModal" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="input-field">
                <textarea id="comment" class="materialize-textarea" oninput="commentLengthValidate()"></textarea>
                <label for="comment">Escriba su comentario</label>
                <span class="helper-text">Restante: 250</span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
            <a onclick="sendComment()" class="modal-close waves-effect waves-green btn-flat">Comentar</a>
        </div>
    </div>
<% } %>