<div class="row notes">
    <% var color; %>
    <div class="col s12">
        <ul class="collection col s12">
            <% if (note.gender == "M") color = "pizarra-color-text"; else if (note.gender == "F") color = "pink-text"; else color = "black-text" %>
            <li class="collection-item avatar row" id="<%=note.id%>" liked="<%=note.liked%>" unliked="<%=note.unliked%>">
                <div class="avatar circle" style="<%=getAvatar(note.avatar, "{{APP_SERVICE_PATH}}/images", 42)%> background-color: <%=colors[note.avatarColor]%>;"></div>
                <span class="title">
						<a class="<%= color %>"
                           onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'<%= note.username %>'}});">
							<b>@<%= note.username %></b>
						</a>
						<small class="grey-text text-darken-3"><%= note.location %> · <%= note.inserted %></small>
					</span>
                <p>
                    <%- note.text %>
                </p>
                <div class="center-align">
                    <%if(note.image){%>
                    <img id="notePicture" class="responsive-img" src="{{APP_IMAGE_PATH}}/<%=note.image%>"/>
                    <%}%>
                </div>
                <p>
                    <% note.topics.forEach(function(topic){ %>
                        <a onclick="apretaste.send({'command': 'PIZARRA','data':{'search':'#<%= topic %>'}})">
                            <b>#<%= topic %></b>
                        </a>&nbsp;
                    <% }); %>
                </p>
                <div class="col s10 actions">
                    <div class="col s4">
                        <a class="like" <%if(!note.liked){%> onclick="like('<%= note.id %>','like');" <%}%>>
                            <i class="material-icons">thumb_up</i>
                            <span><%= note.likes %></span>
                        </a>
                    </div>
                    <div class="col s4">
                        <a class="unlike" <%if(!note.unliked){%> onclick="like('<%= note.id %>','unlike')" <%}%>>
                            <i class="material-icons">thumb_down</i>
                            <span><%= note.unlikes %></span>
                        </a>
                    </div>
                </div>
            </li>

            <div class="hide">
                <% if(note.online == "1"){ %>
                    <i class="material-icons green-text" style="font-size:10px;">brightness_1</i>
                <% } %>
            </div>
        </ul>
    </div>

    <ul class="collection" id="comments">
        <% note.comments.forEach(function(comment){ %>
            <% if (comment.gender == "M") color = "pizarra-color-text"; else if (comment.gender == "F") color = "pink-text"; else color = "black-text" %>

            <li class="collection-item avatar row" id="<%=comment.id%>">
                <div class="col s12">
                    <div class="avatar circle" style="<%=getAvatar(comment.avatar, "{{APP_SERVICE_PATH}}/images", 42)%> background-color: <%=colors[comment.avatarColor]%>;"></div>
                    <span class="title">
						<a class="<%= color %>"
                           onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'<%= comment.username %>'}});">
							<b>@<%= comment.username %></b>
						</a>
						<small class="grey-text text-darken-3"><%= comment.location %> · <%= comment.inserted %></small>
					</span>
                    <p>
                        <%- comment.text %>
                    </p>
                    <div class="col s10 actions">
                        <div class="col s4">
                            <a class="like" <%if(!comment.liked){%> onclick="like('<%= comment.id %>','like', 'comment');" <%}%>>
                                <i class="material-icons">thumb_up</i>
                                <span><%= comment.likes %></span>
                            </a>
                        </div>
                        <div class="col s4">
                            <a class="unlike" <%if(!comment.unliked){%> onclick="like('<%= comment.id %>','unlike', 'comment')" <%}%>>
                                <i class="material-icons">thumb_down</i>
                                <span><%= comment.unlikes %></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>

<div class="fixed-action-btn">
    <a href="#newCommentModal" class="btn-floating btn-large modal-trigger pizarra-color">
        <i class="large material-icons">comment</i>
    </a>
</div>

<div id="newCommentModal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="input-field">
            <textarea id="comment" class="materialize-textarea" oninput="commentLengthValidate()"></textarea>
            <label for="comment">Escriba su comentario</label>
            <span class="helper-text">Restante: 250</span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
        <a onclick="sendComment()" class="modal-close waves-effect waves-green btn-flat">Comentar</a>
    </div>
</div>