<div class="row">
		<ul class="collection" id="noti-list">
			<% notifications.forEach(function(note){ %>
				<li id="<%= note.id %>" class="collection-item avatar">
					<!-- ICON -->
					<i class="material-icons green-text"><%= note.icon %></i>

					<span>
						<!-- DATE -->
						<small><%= note.inserted %></small><br/>

						<!-- TEXT -->
						<% if(note.link) { %>
							<a href="#!" class="black-text" onclick="apretaste.send(<%= note.link %>)"><%- note.text %></a>
						<% } else { %>
							<%- note.text %>
						<% } %>
					</span>

					<!-- DELETE BUTTON-->
					<a href="#!" class="secondary-content" onclick="deleteNotification('<%= note.id %>')"><i class="material-icons piropazo-color-text">delete</i></a>
				</li>
			<% }) %>
		</ul>
</div>