<div class="row">
    <div class="col s12 center-align" id="popular-topics">
        <div class="cloud">
            <% topics.forEach(function(topic) { %>
                <span onclick="apretaste.send({'command':'PIZARRA GLOBAL','data':{'search':'#<%= topic.name %>'}})"
                      class="chip tag<%= topic.size %>"><%= topic.name %></span>
            <% }) %>
        </div>
    </div>

    <div class="col s12" id="popular-users">
        <% populars.ranking.forEach(function (popular) { %>
            <div class="col s4 m2">
                <div class="card user-card center-align">
                    <div class="content">
                        <div class="person-avatar circle" face="<%= popular.avatar %>"
                             color="<%= popular.avatarColor %>"
                             size="40" online="1">
                        </div>
                        <span class="<%= popular.gender %>">@<%= popular.username %></span><br>
                        <span>
                            <i class="fa fa-fire fa-1x"></i>
                            <%= popular.experience %>
                        </span>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>