<div class="row">
	<div id="img-pre" class="pizarra-color"></div>

	<!-- PICTURE -->
	<div id="profile-rounded-img" class="circle" style="<%=getAvatar(profile.avatar, "{{APP_SERVICE_PATH}}/images", ($(window).height() / 4)+8)%>"></div>

	<% var color = profile.gender == "M" ? "pizarra-color-text" : profile.gender == "F" ? "pink-text" : "black-text"; %>

	<div class="row" id="edit-fields">
		<div class="col s12" style="padding: 0 1.5rem;">
			<div class="center-align">
				<h3 class="black-text" style="margin: 8px 0 0 0;"><%=profile.first_name%></h3>
				<h4 class="black-text" style="margin: 8px 0 20px 0;">★<%= profile.reputation %></h4>
			</div>

			<p class="<%=color%> text-medium">@<%=profile.username%></p>
			<p class="text-medium"><%=profile.about_me%>.</p>

			<table id="profile-table" class="text-medium">
				<tr>
					<td><i class="material-icons grey-text text-darken-2">person</i></td>
					<td><%= profile.profile_tags %>.</td>
				</tr>
				<tr>
					<td><i class="material-icons grey-text text-darken-2">business_center</i></td>
					<td><%= profile.profession_tags %>.</td>
				</tr>
				<tr>
					<td><i class="material-icons grey-text text-darken-2">place</i></td>
					<td><%= profile.location + ', ' + profile.country %>.</td>
				</tr>
			</table>
		</div>
	</div>
</div>