<div class="row">
	<%var isDisabled = !isMyOwnProfile ? "disabled" : "";
	var colSize = isDisabled ? "s6" : "s12 m6";
	if(!isMyOwnProfile){%>
		<style>
			.caret, label{display: none;}
			.input-field{margin: 0;}
			textarea{
				margin-bottom: 0;
				padding: 0;
			}
		</style>
	<%}%>
	<div id="img-pre" class="pizarra-color"></div>

	<!-- PICTURE -->
	<%var src = "{{APP_SERVICE_PATH}}/images/" + profile.avatar + ".png";%>
	<div id="profile-rounded-img" class="circle" style="background-image: url(<%= src %>);">
		<!-- EDIT PIC AND HEART BUTTON -->
		<%if(isMyOwnProfile){%>
		<input <%=isDisabled%> id="picturefield" type="file" class="hide"/>
		<a class="btn-floating white" id="picture-upload-btn" onclick="apretaste.send({'command':'PIZARRA AVATAR'})"><i class="material-icons grey-text text-darken-4">edit</i></a>
		<%}%>
	</div>

	<div class="row" id="edit-fields">

		<!-- USERNAME -->
		<div class="input-field col s8 m4 offset-s2 offset-m4">
			<input <%=isDisabled%> id="username" type="text" value="@<%= profile.username %>" class="validate"/>
			<label for="username">Nombre de usuario</label>
		</div>

		<!-- DESCRIPTION -->
		<div class="input-field col s12">
			<i class="material-icons prefix grey-text text-darken-2">account_circle</i>
			<textarea <%=isDisabled%> id="about_me" maxlength="200" type="text" class="materialize-textarea validate"><%= profile.about_me %></textarea>
			<label for="about_me">Cuéntanos algo sobre ti</label>
		</div>

		<!-- NAME -->
		<div class="input-field col <%=colSize%>">
			<i class="material-icons prefix grey-text text-darken-2">person</i>
			<input <%=isDisabled%> id="first_name" type="text" value="<%= profile.first_name %>" class="validate"/>
			<label for="first_name">Nombre</label>
		</div>

		<!-- GENDER -->
		<div class="input-field col <%=colSize%>">
			<i class="material-icons prefix grey-text text-darken-2">wc</i>
			<select <%=isDisabled%> id="gender" class="validate">
				<option value=""></option>
				<option value="M" <%if(profile.gender=='M'){%>selected<%}%>>Hombre</option>
				<option value="F" <%if(profile.gender=='F'){%>selected<%}%>>Mujer</option>
			</select>
			<label for="gender">Sexo</label>
		</div>

		<!-- BIRTH YEAR -->
		<div class="input-field col <%=colSize%>">
			<i class="material-icons prefix grey-text text-darken-2">cake</i>
			<select <%=isDisabled%> id="year_of_birth" class="validate">
				<option value=""></option>
				<% getYears().forEach(function(year) { %>
					<option value="<%= year %>" <%if(profile.year_of_birth==year){%>selected<%}%>><%= year %></option>
				<% }); %>
			</select>
			<label for="year_of_birth">Año de nacimiento</label>
		</div>

		<!-- HIGHEST SCHOOL LEVEL-->
		<% var highest_school_level = ["PRIMARIO","SECUNDARIO","TECNICO","UNIVERSITARIO","POSTGRADUADO","DOCTORADO","OTRO"] %>
		<div class="input-field col <%=colSize%> <%=profile.highest_school_level == "" ? "hide" : ""%>">
			<i class="material-icons prefix grey-text text-darken-2">school</i>
			<select <%=isDisabled%> id="highest_school_level" class="validate">
				<option value=""></option>
				<% highest_school_level.forEach(function(val) { %>
					<option value="<%= val %>" <%if(val==profile.highest_school_level){%>selected<%}%>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="highest_school_level">Nivel Educativo</label>
		</div>

		<!-- OCCUPATION -->
		<% var profesion = ["TRABAJADOR ESTATAL","CUENTAPROPISTA","ESTUDIANTE","AMA DE CASA","DESEMPLEADO","OTRO"] %>
		<div class="input-field col <%=colSize%> <%=profile.occupation == "" ? "hide" : ""%>">
			<i class="material-icons prefix grey-text text-darken-2">business_center</i>
			<select <%=isDisabled%> id="occupation" class="validate">
				<option value=""><%=profesion.indexOf(profile.occupation) == -1 ? profile.occupation : ""%></option>
				<% profesion.forEach(function(val) { %>
					<option value="<%= val %>" <%if(val==profile.occupation.toUpperCase()){%>selected<%}%>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="occupation">Ocupación</label>
		</div>

		<!-- COUNTRY -->
		<div class="input-field col <%=colSize%>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<select <%=isDisabled%> id="country" class="validate" onchange="showStateOrProvince()">
				<option value=""></option>
				<% getCountries().forEach(function(country) { %>
					<option value="<%= country.code %>" <%if(profile.country==country.code){%>selected<%}%>><%= country.name %></option>
				<% }); %>
			</select>
			<label for="country">País</label>
		</div>

		<!-- PROVINCE-->
		<% var province = ["PINAR_DEL_RIO","LA_HABANA","ARTEMISA","MAYABEQUE","MATANZAS","VILLA_CLARA","CIENFUEGOS","SANCTI_SPIRITUS","CIEGO_DE_AVILA","CAMAGUEY","LAS_TUNAS","HOLGUIN","GRANMA","SANTIAGO_DE_CUBA","GUANTANAMO","ISLA_DE_LA_JUVENTUD"] %>
		<div class="input-field province-div col <%=colSize%> <%=profile.province == "" ? "hide" : ""%>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<select <%=isDisabled%> id="province" class="validate">
				<option value=""></option>
				<% province.forEach(function(val) { %>
					<option value="<%= val %>" <%if(val==profile.province){%>selected<%}%>><%= val.replaceAll('_', ' ').firstUpper() %></option>
				<% }); %>
			</select>
			<label for="province">Provincia</label>
		</div>

		<!-- CITY -->
		<div class="input-field col <%=colSize%> <%=profile.city == "" ? "hide" : ""%>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<input <%=isDisabled%> id="city" type="text" value="<%= profile.city %>" class="validate"/>
			<label for="city">¿En que ciudad o pueblo vives?</label>
		</div>


		<!-- RELIGION -->
		<% var religion = ["CRISTIANISMO","CATOLICISMO","YORUBA","PROTESTANTE","SANTERO","ABAKUA","BUDISMO","ISLAM","ATEISMO","AGNOSTICISMO","SECULARISMO","OTRA"] %>
		<div class="input-field col <%=colSize%> <%=profile.religion == "" ? "hide" : ""%>">
			<i class="material-icons prefix grey-text text-darken-2">flare</i>
			<select <%=isDisabled%> id="religion" class="validate">
				<option value=""></option>
				<% religion.forEach(function(val) { %>
					<option value="<%= val %>" <%if(val==profile.religion){%>selected<%}%>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="religion">Religión</label>
		</div>
	</div>

	<!-- SAVE BUTTON -->
	<%if(isMyOwnProfile){%>
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light pizarra-color" href="#!" onclick="submitProfileData()"><i class="material-icons">save</i></a>
		</div>
	<%}%>
</div>