<div class="col s12">
	<%if(profile.gender=="M") color="blue-text"; else if(profile.gender=="F") color="pink-text"; else color="black-text"%>
	<div class="img-wrap">
		<%if(profile.picture!=""){%>
		<img class="fullscreen z-depth-2" id="pic" src="{{APP_IMAGE_PATH}}<%=profile.picture%>">
		<%}else{%>
		<img src="{{APP_RESOURCES}}/images/user.jpg">
		<%}%>
	</div>
	<% name=(profile.first_name=="")?'@'+profile.username:profile.first_name%>
	<h6>
		<b class="<%=color%>">@<%=profile.username%></b> - <%=profile.age%> años - <%=profile.location%>
	</h6>
	<%profile.topics.forEach((topic)=>{%>
	<div class="chip small blue lighten-3" onclick="apretaste.send({'command':'PIZARRA','data':{'search':'<%=topic%>'}});">
		#<%=topic%>
	</div>
	<%});%>
	<p><%=profile.about_me%></p>
	<%profile.interests.forEach((interest)=>{%>
	<div class="chip">
		<%=interest%>
	</div>
	<%});%>
</div>

<div class="fixed-action-btn click-to-toggle">
	<a class="btn-floating btn-large red">
		<i class="large material-icons">menu</i>
	</a>
	<%if(isMyOwnProfile){%>
	<ul>
		<li><a class="btn-floating red" id="editar"><i class="material-icons">edit</i></a></li>
		<li><a class="btn-floating red" id="notas"><i class="material-icons">notes</i></a></li>
	</ul>
	<%}else{%>
	<ul>
		<li><a class="btn-floating red" id="chat"><i class="material-icons">message</i></a></li>
		<li><a class="btn-floating red" id="bloquear"><i class="material-icons">block</i></a></li>
		<li><a class="btn-floating red" id="notas"><i class="material-icons">notes</i></a></li>
	</ul>
	<%}%>
</div>