<div class="row">
    <div class="col s12">
        <h4 class="center-align">Usuarios m&aacute;s populares</h4>
        <div class="row">
            <table class="striped centered">
                <tr>
                    <td width="100%">
                        <% if(users[0].picture != ""){ %>
                        <img class="responsive-img materialboxed" id="first"
                             src="{{APP_IMAGE_PATH}}<%= users[0].picture %>" witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[0].username %>'}})">@<%= users[0].username %></a>
                        <br><b><%= users[0].reputation %></b>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table class="striped centered">
                <tr id="second-row">
                    <td width="50%">
                        <% if(users[1].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[1].picture %>"
                             witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="50%">
                        <% if(users[2].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[2].picture %>"
                             witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[1].username %>'}})">@<%= users[1].username %></a>
                        <br><b><%= users[1].reputation %></b>
                    </td>
                    <td width="50%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[2].username %>'}})">@<%= users[2].username %></a>
                        <br><b><%= users[2].reputation %></b>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table class="striped centered">
                <tr>
                    <td width="33%">
                        <% if(users[3].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[3].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="33%">
                        <% if(users[4].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[4].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="33%">
                        <% if(users[5].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[5].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[3].username %>'}})"><%= users[3].username %></a>
                        <br><b><%= users[3].reputation %></b>
                    </td>
                    <td width="33%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[4].username %>'}})"><%= users[4].username %></a>
                        <br><b><%= users[4].reputation %></b>
                    </td>
                    <td width="33%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[5].username %>'}})"><%= users[5].username %></a>
                        <br><b><%= users[5].reputation %></b>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table class="striped centered">
                <tr>
                    <td width="25%">
                        <% if(users[6].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[6].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="25%">
                        <% if(users[7].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[7].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="25%">
                        <% if(users[8].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[8].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                    <td width="25%">
                        <% if(users[9].picture != ""){ %>
                        <img class="responsive-img materialboxed" src="{{APP_IMAGE_PATH}}<%= users[9].picture %>"  witdh="80%">
                        <% }else{ %>
                        <img class="responsive-img" src="{{APP_RESOURCES}}/images/user.jpg">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[6].username %>'}})"><%= users[6].username %></a>
                        <br><b><%= users[6].reputation %></b>
                    </td>
                    <td width="25%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[7].username %>'}})"><%= users[7].username %></a>
                        <br><b><%= users[7].reputation %></b>
                    </td>
                    <td width="25%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[8].username %>'}})"><%= users[8].username %></a>
                        <br><b><%= users[8].reputation %></b>
                    </td>
                    <td width="25%">
                        <a onclick="apretaste.send({'command':'PIZARRA PERFIL','data':{'username':'<%= users[9].username %>'}})"><%= users[9].username %></a>
                        <br><b><%= users[9].reputation %></b>
                    </td>
                </tr>
            </table>
        </div>

        <h4 class="center-align">Temas populares</h4>
        <div class="row center-align">
            <% topics.forEach(topic => { %>
            <a style="font-size: <%= topic.size+3 %>px;"
               onclick="apretaste.send({'command':'PIZARRA','data':{'search':'#<%= topic.name %>'}})">#<%= topic.name %>  </a>
            <% }); %>
        </div>
    </div>
</div>